@import '@/styles/colors.scss';

.post {
    padding: 1.2rem;
    border-radius: 10px;
    width: 600px;
    background-color: rgba($color: $main-color, $alpha: 0.2);
    color: $main-color;

    & > hr {
        border: 1px solid $main-color;
    }
}

.block {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    margin: 0;
    padding: 0;
}

.author {
    font-size: 14px;
    text-align: end;
}

.body {
    margin-top: 10px;
    margin-bottom: 10px;
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.likes {
    display: flex;

    cursor: pointer;
}

.comment_author {
    font-weight: 500;
}

.comments {
    margin-top: 1rem;
}

.comment {
    border: 1px solid $main-color;
    padding: 0.2rem;
}